 /* by grebennikovalex */


body {
		background-color: white;
		text-align: center;
		
		}
		
a:ilnk {
		color: white;
		text-decoration: none;
		}

.container {
	
		width:468px; 
		margin:auto; 
		background: white;
		}
		
.header {
	
		width:468px; 
		margin:auto; 
		margin-bottom: 10px;
		margin-top: 25px;
		}



.box {
	
		width: 150px;
		height: 150px;
		float:left;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 3px;
		background: #a9e4f1;
		cursor: pointer;
			
		}
		
.box:hover {
	
		background-image: radial-gradient(#67cfe6, #a9e4f1);
	
	
}

.boxchecked {
	
		width: 150px;
		height: 150px;
		float:left;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 3px;
		background-image: radial-gradient(#67cfe6, #a9e4f1);
		
		}

.boxoff {
	
		width: 150px;
		height: 150px;
		float:left;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 3px;
		background-image: radial-gradient(#9a9a9a , #c0c0c0);
		
		}

.boxwin {
	
		width: 150px;
		height: 150px;
		float:left;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 3px;
		background: #6a89cc;
		
		}





		
.npfield {
	
		width: 306px; 
		height: 150px;
		float: left;
		margin: 3px; 
		display: flex;
		align-items: center;
		justify-content: center;
		background: #273c75;
		font-family: Courier;
		font-size: 25px;
		font-weight: bold;
		color: white;
					
		}
		
.mark {
	
		width: 150px; 
		height: 150px;
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 3px;
		background-image: radial-gradient(#22b794, #33d9b2);
		}
		
.redmark {
	
		width: 150px; 
		height: 150px;
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 3px;
		background: red;
		}
		
.newgame {
	
		display: none; 
		position: fixed; 
		z-index: 1;
		cursor: pointer;
		width: 306px; 
		height: 150px;
		margin: 3px;
		align-items: center;
		justify-content: center;
		background: #f368e0;
		font-family: Courier;
		font-size: 25px;
		font-weight: bold;
		color: white;
  
  
		}
		
		
.field {
	
		width: 140px; 
		height: 35px;
		float: left;
		display: flex;
		align-items: center;
		justify-content: left;
		margin: 3px;
		background: #273c75;
		font-family: Courier;
		font-size: 16px;
		padding-left: 10px;
		color: white;
		
		
		}
		

		
.btn {
	
		width: 150px;
		height: 100px;
		float:left;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 3px;
		font-family: Courier;
		font-size: 25px;
		font-weight: bold;
		color: white;
		background: #273c75;
		cursor: pointer;
		
		}
		

		


.start {
	
		display: none; 
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 100px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(9, 132, 227, 0.4); /* Black w/ opacity */
		
		}

	
	
.modal {
	
		background-color: #fefefe;
		margin: auto;
		margin-top: 5%;
		padding: 40px;
		width: 360px;
		align-items: flex-start;
		justify-content: flex-start;
		font-family: Courier;
		font-weight: bold;
		font-size: 18px;
		}

.inputPlayer {
	
		width: 336px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-left: 20px;
		font-family: Courier;
		font-size: 40px;
		font-weight: bold;
		margin: auto;
		margin-top: 5%;
		background: white;
		
		
		}
		
		
::placeholder {
	
		color: #d5d5d7;
  
		}
		
		
.listP {
		
		float: left;
		width: 240px;
		display:flex;
		height: 40px;
		align-items: center;
		justify-content: left;
		font-family: Courier;
		font-weight: bold;
		font-size: 20px;
		margin-right: 10px;
		margin-top: 5%;
		background: #a9e4f1;
		cursor: pointer;
		padding-left: 20px;
		
		}
		
.renbtn {
		float: left;
		width: 40px;
		display:flex;
		height: 40px;
		align-items: center;
		justify-content: center;
		font-family: Courier;
		font-weight: bold;
		font-size: 20px;
		margin-top: 5%;
		background: #6a89cc;
		cursor: pointer;
			
		}		
.listPnew {
		
		float: left;
		width: 240px;
		display:flex;
		height: 40px;
		align-items: center;
		justify-content: left;
		font-family: Courier;
		font-weight: bold;
		font-size: 20px;
		margin-right: 10px;
		margin-top: 5%;
		background: #FDA7DF;
		cursor: pointer;
		padding-left: 20px;
		
		}
		
.listPb {
		
		float: left;
		width: 340px;
		display:flex;
		height: 40px;
		align-items: center;
		justify-content: left;
		font-family: Courier;
		font-weight: bold;
		font-size: 20px;
		margin-right: 10px;
		margin-top: 5%;
		background: #6a89cc;
		cursor: pointer;
		padding-left: 20px;
		color: white;
		
		}
		
		
.listP:hover, .listPb:hover, .listPnew:hover, .renbtn:hover {
	
		background: #273c75;
		color: white;
}
		
		
.closeMark {
	
		float: left;
		width: 40px;
		height: 40px;
		display: flex;
		margin-left: 10px;
		align-items: center;
		justify-content: center;
		
		cursor: pointer;
		margin-top: 5%;
	
		}
		
.footfield {
		
		display: flex;
		width: 462px;
		height: 80px;
		float: left;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		font-size: 30px;
		font-family: Courier;
		cursor: pointer;
		background: #6a89cc;
		margin: 3px;
		color: white;
		
		}
		
.footfield:hover {
		
		background: #f368e0;	
		
		}		

.oo, .xx, .rem:hover {
			
		animation: ani .3s  ease-in-out;
		
		}		

@keyframes ani {
	
		0% {transform: scale(1.1);}
		50% {transform: scale(.9);}
		100% {transform: scale(1.0);}
		
		}
	
	
	
		